<div class="card">
 <div class="card-header bg-dark text-white">
  Configure Property Info
 </div>
<div class="card-body">
   <form (ngSubmit)="onSubmit(Form)" #Form='ngForm' >
    <div>
      <tabset #formPropertyTabs>
        <tab heading="Basic Info">

          <div class="form-group col-12">
            <label for="name">Name</label>
             <input type="text" class="form-control" autocomplete="off"
             #propName="ngModel"
             autocomplete="none"
             ngModel name="Name"
             required
             minlength= 5>
             <span *ngIf="!propName.valid && propName.touched" class="error-block">
              <span *ngIf="propName.errors.required">Please provide name</span>
              <span *ngIf="propName.errors.minlength">Name must be atleast 5 char long</span>
             </span>
         </div>
         <div class="form-group col-12">
           <label for="type">Type</label>
           <input type="text" class="form-control" autocomplete="off" ngModel name="Type">

         </div>
         <div class="form-group col-12">
            <label for="price">Price</label>
            <input type="number" class="form-control" autocomplete="off" ngModel name="Price">
         </div>
         <div class="form-group col-12">
           <button type="button" class="btn btn-primary btn-block"
            (click)="onSelectTab(1)">
             Next
           </button>
         </div>
        </tab>
        <tab heading="Pracing and Area">Pricing Information
          <button type="button" class="btn btn-primary btn-block" (click)="onSelectTab(2)">
            Next
          </button>
          <button type="button" class="btn btn-primary btn-block" (click)="onSelectTab(0)">
            Back
          </button>
        </tab>
        <tab heading="Address">Address

          <button type="button" class="btn btn-primary btn-block" (click)="onSelectTab(3)">
            Next
          </button>
          <button type="button" class="btn btn-primary btn-block" (click)="onSelectTab(1)">
            Back
          </button>
        </tab>
        <tab heading="Other Details">Other Details
          <button type="button" class="btn btn-primary btn-block" (click)="onSelectTab(4)">
            Next
          </button>
          <button type="button" class="btn btn-primary btn-block" (click)="onSelectTab(2)">
            Back
          </button>
        </tab>
        <tab heading="Photos">Upload Photos

          <button type="button" class="btn btn-primary btn-block" (click)="onSelectTab(3)">
            Back
          </button>
        </tab>
      </tabset>
    </div>


   </form>
</div>
</div>
